<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>go</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="{% url 'home' %}">Ecommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div style="justify-content: space-between;display: flex;" class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="margin-right: 200px;" href="{% url 'checkout' %}">Cart</a>
            </li>  
              {% block search  %}
              {% endblock search %} 
              {% block hide  %}
              {% endblock hide %}
          
                <li >
                  {% if request.user.is_authenticated %}
                  {% else %}
              <button class="btn btn-outline-info waves-effect" style="margin-right:30px;"><a href="{% url 'login' %}">login</a></button> 
                {% endif %}
                </li>
                <li>
              <button class="btn btn-outline-warning " style="margin-right:30px;"><a href="{% url 'logout' %}">logout</a></button>
              </li>
              <li>
              <a href="#">
                  <img src="{% static 'images/shopping icon.png' %}" style="width: 45px;height: 40px; background-color: black;border-radius: 50%;float: left;">
              </a>
            </li>
            <li>
              <h5  class="card-count">{{ user_items_count }}</h3>
              </li>
          </div> 
            </ul>
        </div>
      </nav>
    <hr>
    <div class="container">
{% block content  %}
{% endblock content %}
    </div>
<br><br>
<hr>
<br><br><br>

<footer class="page-footer font-small unique-color-dark pt-4" style="background-color: black;">
    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1" style="color: white;" >Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'register' %}" class="btn btn-outline-white btn-rounded" style="color: white;">Sign up!</a>
        </li>
      </ul>
  
    </div>
  
    <div class="footer-copyright text-center py-3" style="color: white;">
    </div>
  
  </footer>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript">  
    function getToken(name) {
       let cookieValue = null;
       if (document.cookie && document.cookie !== '') {
           const cookies = document.cookie.split(';');
           for (let i = 0; i < cookies.length; i++) {
               const cookie = cookies[i].trim();
               if (cookie.substring(0, name.length + 1) === (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
   }
    csrftoken = getToken('csrftoken');  
    
     </script>
</body>
</html>